{% extends "base.html" %}
{% block content %}
    <p class="fs-1 text-center">Details for the {{ car.manufacturer.name }} {{ car.model }}</p>
    <div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-4">
        <div class="card" >
            <div class="row">
                <div class="col-md-8">
                    <img src="{{ car.photo.url }}" class="start img-fluid" style="max-width: 40rem" alt="car">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                            <h5 class="card-title">{{ car.model }}</h5>
                            <p class="card-text">{{ car.manufacturer.name }}</p>
                            <p class="card-text">{{ car.kilometers }}</p>
                            <p class="card-text">{{ car.price }}$</p>
                        <a class="btn btn-secondary" href="/product/edit/{{car.id}}/">Edit this car</a>
                        <a class="btn btn-danger" href="/product/delete/{{car.id}}/">Delete this car</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}